/* Custom styles */

/* Header and navigation */
nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  /* About section */
  #about {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  #about h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  #about p {
    line-height: 1.6;
  }
  
  /* Projects section */
  #projects {
    padding: 20px;
  }
  
  #projects h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  #projects ul li {
    margin-bottom: 20px;
  }
  
  #projects h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Contact section */
  #contact {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  #contact h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  #contact p {
    line-height: 1.6;
  }
  
  #contact ul {
    list-style-type: none;
    padding: 0;
  }
  
  #contact li {
    margin-bottom: 5px;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }