/* Body */
body {
    background-color: black;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 6vh;
  }
  
  /* Header */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3b5998;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  /* Sections */
  section {
    height: 90vh;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section h1 {
    color: #3b5998;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section p {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  
  section ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  section ul li {
    margin-bottom: 5px;
  }
  
  section a {
    color: #3b5998;
    text-decoration: none;
  }
  
  /* Footer */
  footer {
    background-color: #3b5998;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  footer p {
    margin: 0;
  }
  
  /* STRETCH DIV */
  .stretch-div {
    width: 80%;
    height: 80%;
    background-color: black;
  }
  
  /* Add spacing between the divs */
  .resume-div {
    width: 30%;
    height: 20vh;
    margin: 0 5%;
    padding: 20px;
    background-color: black; /* Set the background color to black */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  /* Add spacing on the top and bottom of the divs */
  #resume {
    padding: 20px 0;
  }
  
  /* Additional styles for "about" section with background image */
  #about {
    background-image: url('mountain.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 4rem;
    text-align: center;
  }
  
  #about h1,
  #about p,
  #about ul li {
    color: #fff;
  }
  
  /* Additional styles for links inside "about" and "contact" sections */
  #contact a,
  #about a {
    color: #fff;
  }
  
  /* Additional styles for "contact" section with background image */
  #contact {
    background-image: url('snow_flakes.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 4rem;
    text-align: center;
  }
  
  /* New styles for the about-me section */
  #about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  /* New styles for the three divs in the about-me section */
  .about-me-div,
  .skills-div,
  .frameworks-div {
    width: 90%;
    padding: 20px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Spacing between the three divs in the about-me section */
  .about-me-div {
    height: 30vh;
  }
  
  /* New styles for the skills and frameworks sections */
  #skills-and-frameworks {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  /* New styles for the two divs in the skills-and-frameworks section */
  .skills-div,
  .frameworks-div {
    width: 40%;
    height: 35vh;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Spacing between the two divs in the skills-and-frameworks section */
  .skills-div {
    margin-right: 5%;
  }
  
